<%#= new_team_link %>
<div class="grid_7">
  <%= page_section_title("Teams") %>
  
</div>

<div id="teams_catalogue" class="grid_16">
  <%= teams_catalogue_header %>
  <div id="catalogue_body">
    <div id="letter_filter_side_bar">
      <%=  teams_letter_filter_links_sidebar %>
      
    </div>
    <div id="catalogue_items_list_container">
      <% @teams.in_groups_of(3).each do |n_teams_group| %>
        <div class="catalogue_items_container_row">
          <% n_teams_group.compact.each do |team|%>

            <div class="catalogue_item_container clickable_container">
              <%=  render :partial => 'team_panel', :locals => {:team => team} %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>