body { background-color: white; color: grey; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 5px;
  font-size: 11px;
}

body {
    background: none repeat scroll 0 0 white;
    color: #666666;
    font: 0.8em/1.5em Arial,Helvetica,sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    width: 900px;
}

body h1 {
    margin-bottom: 40px;
}
a {
    /*color: #333333;*/
}
div.new_item_creation {
    float:right;
    width: 200px;
    height: 50px;
    border-radius: 7px;
    background-color: #C4CDE0;
    font-size: 1.5em;
    margin-top: 13px;
    text-decoration: none;
    text-align: center;
    a {
      padding-top:15px;
      border-radius: 7px;
      color: black;
      :hover {background-color: #2B5C84;}
      :visited {
	color: white;
      }      
    }
}
a { color: #000; }

a:hover { color: #2B5C84; background-color:#F7F7F7; }

.clickable_container a{
  display: block;
  height: 100%;
  width: 100%;
  border-radius: parent;
  text-decoration: none;
  vertical-align: middle;
}

div.fields_container_panel{
  background-color: #F7F7F7;
  border: 2px solid #C4CDE0;
  border-radius: 5px 5px 5px 5px;
  padding: 7px 7px;

}
fieldset {
    border: 0 solid #8EC03D;
    margin-top: 12px;
}
fieldset legend {
      color: #333333;
      display: block;
      font-size: 18px;
      line-height: 1.5em;
      margin: 0;
    }
fieldset.inner_container, div.inner_container{
  background-color: white;
  border: 2px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  padding: 7px 7px;
}
.catalogue_header {
    background: none repeat scroll 0 0 white;
    border:{
      radius: 40px 0 0 0;
      bottom: 3px solid #C4CDE0;
    }
    height: 38px;
    z-index: 2;
    width: 100%;
    .z-index-2 {
        z-index: 2;
    }

    .catalogue_header_tab {
        background-image: -moz-linear-gradient(left center , #0A0A0A, #303030);
        border: 0 solid white;
        border-radius: 40px 0 0 0;
        float: right;
        height: 94%;
        position: relative;
        right: -30px;
        text-align: right;
        padding-right: 0px;
        width: 15%;
        a{
           text-align: center;
           border-radius: 40px 0 0 0;
        }
    }
    .last_tab {
        right: 0 !important;
    }
}
#catalogue_items_list_container {
    height: 100%;
    margin-left: 20px;
    padding-top: 2px;
    .catalogue_items_container_row {
        border:{
            bottom: 0 solid #222222;
            color: #222222;
        }
        padding: {
            left: 6px;
            right: 3px;
        }
        .catalogue_item_container {
            background-color: #CFCFCF;
            border-radius: 4px 4px 4px 4px;
            float: left;
            margin: 5px;

        }
    }
}
div.dhx_cal_event.selected {
    background-color: red;
}

div.dhx_cal_event.confirmed {
    background-color: green;
}

div.dhx_cal_event.confirmed div{
    background-color: green;
}


div.dhx_cal_event.rejected {
    background-color: blue;
}

div.dhx_cal_event.rejected div{
    background-color: blue;
}
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }