h1{
    color:#2B5C84;
    text-align: center;
}
div#show_games_or_results_links_panel {
    float:left;
    background-color: #2B5C84;
    border-radius: 7px 7px 7px 7px;
    font-size: 1.5em;
    height: 50px;
    margin-top: 13px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    padding: 3px;
    div {
      background-color: white; 
      border-radius: 7px 7px 7px 7px;
      float:left;
      height:40%;
      width: 49%;
      padding: {top:15px; bottom: 15px;};
      
    }
    div.show_results {
      float:right;
    }
    div.current {
      background-color: #C4CDE0 !important; 
    }
    
}

#games_catalogue {
    height:1090px;
    background: none repeat scroll 0 0 white;
    border: 3px solid #C4CDE0;
    border: {
        radius: 40px 0 0 0;
    }
    margin: 4px;
    #filter_side_bar {
        border: 3px solid #C4CDE0;
        text-overflow: ellipsis;
	border: {
            top: 3px ;
            left: 0px;
        }
        float: left;
        height: 700px;
        text-align: center;
        width: 140px;
	div.sidebar_location_filter{
	  height: 300px;
	  li#root_country {
	      padding-right: 100px;
	      //ins {display:none;}
	  }
	}
	div.sidebar_date_filter{
	  height: 200px;
	  input {float:right; }
	  label {text-align: right; width: 100%}
	  padding-right: 100px;
	}

    }
    div#catalogue_items_list_container {
       div#games_table_wrapper {
            #games_table_processing {display:none;}
        }
       table#games_table {
        width: 743px !important;
	thead th {	
	  background-color:#C4CDE0;
	}thead th:hover {	
	  background-color:#EBF1FD;
	}
	tr {
	  cursor: pointer;
	  background-color: #EBF1FD;
	  
	}
	tr.even {background-color: white;}
	tr:hover td {background-color: #C4CDE0;}
	tr.selected td {background-color: #C4CDE0 !important;}
	td.game_info, td.game_info:hover {
	  width: 100%;
	  background-color: white;
	  padding: {top:15px; left: 25px; bottom: 15px;}
	  cursor: default;
	}
       }
	td.center {text-align: center;}
       padding: {left: 0px; right: 0px; top: 0px;}
       margin-left: 142px;
    }
}
