div.game_panel {
    margin-bottom: 10px;
    width: 320px;
    height: 140px;
    padding: 4px;
    background-color: #EBEBEB;

    div.game_teams_subpanel {
        $team_photo_width: 50px;
        $team_photo_height: 70px;
	margin-bottom: 5px;
        height: $team_photo_height + 2px;
        background-color: #EBEBE7;
        border: {
            radius: 7px 7px 7px 7px;
        }
        img {
            width: $team_photo_width;
            height: $team_photo_height;
        }
        span {
            margin: {left: 5%; right: 5%}
            padding-top: 10px;
        }
        div.first_team {
            float: left;
            width: 40%;
	    
            img {
                float: left;
            }
            h3 {
                margin-left: $team_photo_width +2;
		margin-bottom: 2px;
		margin-top: 5px;
            }
	    ul.team_players_list {
		margin-left: $team_photo_width +2;
		margin-top: 2px;
		list-style: none;
		padding: 0px;
	    }
        }
        div.second_team {
            float: right;
            width: 40%;
            img {
                float: right;
            }
            h3 {
                margin-right: $team_photo_width +2;
		text-align: right;
		margin-top: 5px;
		margin-bottom: 2px;	
            }
	    ul.team_players_list {
		margin-right: $team_photo_width +2;
		margin-top: 2px;
		list-style: none;
		padding: 0px;
		text-align: right;
	    }
        }
    }
    div.game_details_subpanel{
      background-color: white;
      border: 1px solid #EBEBEB;
      margin: 2px;
      margin-top: 1px;
      h4 {
        margin: {top:0px;bottom:2px;}
	text-align: left;
	padding: 0px;
      }
      div.view_game_button {
	height: 30px;
	width: 50px;
	float:right;
	margin: {left:100px;}
	a {
	  text-align: center;
	  border-radius: 10%;
	  padding: {top: 4px;bottom:4px;}
	}
	border: 1px solid;
	border-radius: 10% ;
      }
    }
}



div.game_result_panel.inactive {
    display: none;
}