div.game_panel {
    width: 350px;
    height: 140px;
    padding: 4px;
    border-color:#248734;
    background-color:#EBEBE7;

    div.game_teams_subpanel {
        $team_photo_width: 50px;
        $team_photo_height: 70px;
	height: $team_photo_height + 2px;
        background-color: #EBEBE7;
	
	h3 {
          margin-left: $team_photo_width +2;
	  margin-bottom: 2px;
	  margin-top: 5px;
          height: 20px;  
	  overflow-y: hidden;
        }
        border: {
            radius: 7px 7px 7px 7px;
        }
        img {
            width: $team_photo_width;
            //height: $team_photo_height;
        }
        span {
            margin: {left: 5%; right: 5%}
            padding-top: 10px;
        }
        div.first_team {
            float: left;
            width: 47%;
	    
            img {
                float: left;
            }
            
	    ul.team_players_list {
		margin-left: $team_photo_width +2;
		margin-top: 2px;
		list-style: none;
		padding: 0px;
	    }
        }
        div.second_team {
            float: right;
            width: 47%;
            img {
                float: right;
            }
            h3 {
                text-align: right;
		margin: {left:0px;right:$team_photo_width +2;}
            }
	    ul.team_players_list {
		margin-right: $team_photo_width +2;
		margin-top: 2px;
		list-style: none;
		padding: 0px;
		text-align: right;
	    }
        }
    }
    div.game_details_subpanel{
      background-color: white;
      border: 1px solid #EBEBEB;
      margin: 2px;
      margin-top: 1px;
      h4 {
        margin: {top:0px;bottom:2px;}
	text-align: left;
	padding: 0px;
      }
      div.view_game_button {
        background-color:#2B5C84;
	height: 30px;
	width: 50px;
	float:right;
	margin: {right:10px;top:10px}
	a {
          color:#FFFFFF;
	  text-align: center;
	  border-radius: 10%;
	  padding: {top: 4px;bottom:4px;}
	}
	border: 1px solid;
	border-radius: 10% ;
        border-color:#2B5C84;
      }
    }
}



div.game_result_panel.inactive {
    display: none;
}
