form#new_game {
    div#teams_selection_panel {
        height: 100px;
        width: 100%;
        div.team_field {
            float:left;
        }
    }
    div#map {
        $map_width: 400px;
        $map_height: 400px;
        height: $map_height;
        width: $map_width;
        float: right;

        border: 1px solid;
        border: {
            radius: 7px 7px 7px 7px;
            color: red;
        }

    }
}
