form#new_game {
  width: 100%;
	
  fieldset{
    border: 0 solid #8EC03D;
    margin-top: 12px;
    div#teams_selection_panel {
        height: 170px;
        div.team_field{
            //border: 1px solid;
	    margin-right: 10px;
            float:left;
            div.team_info_mini_panel {
	      margin: {top: 15px; bottom:15px; left: 20px;}
	    }
	    
        }
    }
  }
  div#date_and_location_selection_panel{
      height: 320px;
      div#map {
	$map_width: 300px;
	$map_height: 300px;
	height: $map_height;
	width: $map_width;
	float: right;
	border: 1px solid;
	border {
	  radius: 7px 7px 7px 7px;
	  color: red;
	}
      }
    input#game_play_date {width:150px;}
  }
  
}

div.team_result_row {
    
    img {
        height: 40px;
        width: 33px;
    }
    div.mini_team_info_row {
        margin: {top: 25px; bottom:25px}
        float:right;
        h5 {
            padding {top:0px;}
            margin: {top: 0px; bottom:25%}
            height: 100%;
            width: 180px;
            text-align: left;
        }
    }
    
}
fieldset {
    border: 0 solid #8EC03D;
    margin-top: 12px;
    legend {
      color: #333333;
      display: block;
      font-size: 18px;
      line-height: 1.5em;
      margin: 0;
    }
}