div.player_panel {
  
  height: 200px;
  width: 700px;

  div.player_info_subpanel {
    padding: 5px;
    $photo_margin: 70px;

    div.player_photo {
        width: $photo_margin;
        float: left;
    }
    div.player_info {
        margin-left: $photo_margin +1px;
        h3 {
          margin: 0px;
        }
        ul {padding-left: 10px}
    }
  }
  div.player_emblems_subpanel {
    ul.player_achievements {
      height: 20px;
      list-style: none;
      li {float: left;}
    }
  }
}