div.player_panel {
  //padding: 5px;
  overflow: hidden;

  width: 310px;
  background: #EBEBEB;
  border: {
    radius: 7px 7px 7px 7px;
  }
  
  div.player_info_subpanel {
    padding: 5px;
    $photo_margin: 60px;
    h3 {
        margin: {top: 0px; bottom: 15px; left: 6px;}
        font-size: 16px;
        a {text-decoration:none;}
    }
    div.player_photo {
        width: $photo_margin;
        float: left;
    }
    div.player_info {
        margin-left: $photo_margin ;
        h3 {
          margin: 0px;
        }
        ul {
            
            padding-left: 0px;
            list-style: none;
            li { display:block;float: none !important;}
        }
    }
  }
  div.player_emblems_subpanel {
    float:right;
    fieldset {
      legend {font-size: 14px ; text-align: center}
      ul.player_achievements {
        height: 15px;
        list-style: none;
        li {float: left !important;}
      }
    }

  }
}
