#players_catalogue {
    height: 700px;
    width: 820px;
    background: none repeat scroll 0 0 white;
    border: {
        bottom: 3px solid #222222;
        color: #222222;
        left: 3px solid #222222;
        radius: 40px 0 0 0;
        right: 3px solid #222222;
    }
    margin: 4px;
    #letter_filter_side_bar {
        border:{
            bottom: 3px solid #222222;
            color: #222222;
            right: 3px solid #222222;
        }
        float: left;
        height: 100%;
        text-align: center;
        width: 20px;
        .letter_filter_letter_container {
            border: {
                bottom: 2px solid black;
                color: black;
            }
        }
    }
    .catalogue_header {
        background: none repeat scroll 0 0 #222222;
        border-radius: 40px 0 0 0;
        height: 38px;
	z-index: 2;
        width: 100%;
        .z-index-2 {
            z-index: 2;
        }
        
        .catalogue_header_tab {
            background-image: -moz-linear-gradient(left center , #0A0A0A, #303030);
            border: 0 solid white;
            border-radius: 40px 0 0 0;
            float: right;
            height: 94%;
            position: relative;
            right: -30px;
            text-align: right;
            padding-right: 0px;
            width: 15%;
            a{
               text-align: center;
               border-radius: 40px 0 0 0;
            }
        }
        .last_tab {
            right: 0 !important;
        }
    }
    #catalogue_items_list_container {
        height: 100%;
        //margin: {top: 20px;bottom: 20px;}
        padding: 20px;
        .catalogue_items_container_row {
            border:{
                bottom: 0 solid #222222;
                color: #222222;
            }
            padding: {
                left: 6px;
                right: 3px;
            }
            .catalogue_item_container {
                border-radius: 4px 4px 4px 4px;
                float: left;
                //width: 40%;
                margin: {left: 6px; right: 30px;bottom: 20px;}
                div.player_panel{
                    display: block;
                    height: 100%;
		    margin: {left: 10px;right: 10px;}
                    text-decoration: none;
                    vertical-align: middle;
                    
                }
            }
        }
    }
}

