#players_catalogue {
    height: 700px;
    width: 820px;
    border: 3px solid #C4CDE0;
    border: {
        radius: 40px 0 0 0;
    }
    margin: 4px;
    #letter_filter_side_bar {
       border: 3px solid #C4CDE0;
	border: {
            top: 3px ;
            left: 0px;
        }
        float: left;
        height: 100%;
        text-align: center;
        width: 20px;
        .letter_filter_letter_container {
             border: {
		left: 0px ;
                bottom: 2px solid #C4CDE0;
                color: #C4CDE0;
            }
        }
    }
    
}

