div.game_panel {
    border: 1px solid;
}

div.game_result_panel.inactive {
    display: none;
}
.clickable_container a{
  display: block;
  height: 100%;
  width: 100%;
  border-radius: parent;
  text-decoration: none;
  vertical-align: middle;
}
    
div.dhx_cal_event.selected {
    background-color: red;
}

div.dhx_cal_event.confirmed {
    background-color: blue;
}

div.dhx_cal_event.confirmed div{
    background-color: blue;
}