div.game_panel {
    border: 1px solid;
}

div.game_result_panel.inactive {
    display: none;
}
.clickable_container a{
  display: block;
  height: 100%;
  width: 100%;
  border-radius: parent;
  text-decoration: none;
  vertical-align: middle;
}
    
div.dhx_cal_event.selected {
    background-color: red;
}

div.dhx_cal_event.confirmed {
    background-color: green;
}

div.dhx_cal_event.confirmed div{
    background-color: green;
}


div.dhx_cal_event.rejected {
    background-color: blue;
}

div.dhx_cal_event.rejected div{
    background-color: blue;
}
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }