div.game_panel {
  margin-bottom: 10px;
  width: 320px;
  height: 140px;
  padding: 4px;
<<<<<<< HEAD
  border-color: #248734;
  background-color: #EAFCD6; }
=======
  background-color: #EBEBEB; }
>>>>>>> a4867df0641a4a4fd8170fee8fa038ea5103f779
  div.game_panel div.game_teams_subpanel {
    margin-bottom: 5px;
    height: 72px;
    background-color: #EBEBE7;
    border-radius: 7px 7px 7px 7px; }
    div.game_panel div.game_teams_subpanel img {
      width: 50px;
      height: 70px; }
    div.game_panel div.game_teams_subpanel span {
      margin-left: 5%;
      margin-right: 5%;
      padding-top: 10px; }
    div.game_panel div.game_teams_subpanel div.first_team {
      float: left;
      width: 40%; }
      div.game_panel div.game_teams_subpanel div.first_team img {
        float: left; }
      div.game_panel div.game_teams_subpanel div.first_team h3 {
        margin-left: 52px;
        margin-bottom: 2px;
        margin-top: 5px; }
      div.game_panel div.game_teams_subpanel div.first_team ul.team_players_list {
        margin-left: 52px;
        margin-top: 2px;
        list-style: none;
        padding: 0px; }
    div.game_panel div.game_teams_subpanel div.second_team {
      float: right;
      width: 40%; }
      div.game_panel div.game_teams_subpanel div.second_team img {
        float: right; }
      div.game_panel div.game_teams_subpanel div.second_team h3 {
        margin-right: 52px;
        text-align: right;
        margin-top: 5px;
        margin-bottom: 2px; }
      div.game_panel div.game_teams_subpanel div.second_team ul.team_players_list {
        margin-right: 52px;
        margin-top: 2px;
        list-style: none;
        padding: 0px;
        text-align: right; }
  div.game_panel div.game_details_subpanel {
    background-color: white;
    border: 1px solid #EBEBEB;
    margin: 2px;
    margin-top: 1px; }
    div.game_panel div.game_details_subpanel h4 {
      margin-top: 0px;
      margin-bottom: 2px;
      text-align: left;
      padding: 0px; }
    div.game_panel div.game_details_subpanel div.view_game_button {
      background-color: #248734;
      height: 30px;
      width: 50px;
      float: right;
      margin-left: 100px;
      border: 1px solid;
      border-radius: 10%;
      border-color: #248734; }
      div.game_panel div.game_details_subpanel div.view_game_button a {
        color: #FFFFFF;
        text-align: center;
        border-radius: 10%;
        padding-top: 4px;
        padding-bottom: 4px; }

div.game_result_panel.inactive {
  display: none; }
