h2 {
  text-align: center; }

div.game_info {
  margin-bottom: 32px;
  padding: 15px; }
  div.game_info h2[name=title] {
    color: blue; }
  div.game_info h4, div.game_info h2 {
    margin-left: 25%;
    margin-right: 25%; }
  div.game_info h4[name='description'] {
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 40px;
    width: 400px;
    text-align: left; }
  div.game_info fieldset#game_date_and_location_sub_panel {
    width: 160px;
    float: right;
    margin-top: 1px; }
    div.game_info fieldset#game_date_and_location_sub_panel div.inner_container {
      height: 210px; }
    div.game_info fieldset#game_date_and_location_sub_panel .game_date_location {
      float: right;
      margin: 0 0 0 0;
      text-decoration: none;
      font-size: 14px; }
    div.game_info fieldset#game_date_and_location_sub_panel div#map {
      margin-top: 5px;
      margin-right: 0px;
      height: 150px;
      width: 150px;
      float: right; }
  div.game_info div.game_teams_subpanel {
    height: 260px;
    border: 0px solid;
    border-radius: 7px 7px 7px 7px;
    border-color: red; }
    div.game_info div.game_teams_subpanel img#tennis_field_image {
      width: 100px;
      heigth: 70px;
      margin-top: 50px;
      margin-left: 0px;
      margin-right: 0px; }
    div.game_info div.game_teams_subpanel img {
      width: 50px;
      height: 70px; }
    div.game_info div.game_teams_subpanel span {
      margin-left: 0%;
      margin-right: 0%;
      padding-top: 10px; }
    div.game_info div.game_teams_subpanel div.first_team {
      float: left;
      width: 265px; }
      div.game_info div.game_teams_subpanel div.first_team img {
        float: left; }
      div.game_info div.game_teams_subpanel div.first_team h3 {
        margin-left: 60px;
        margin-bottom: 2px;
        margin-top: 5px;
        text-align: left;
        font-size: 20px; }
      div.game_info div.game_teams_subpanel div.first_team ul.team_players_list {
        margin-top: 2px;
        list-style: none;
        float: right;
        padding: 0px; }
        div.game_info div.game_teams_subpanel div.first_team ul.team_players_list li.player {
          height: 54px;
          overflow: none; }
          div.game_info div.game_teams_subpanel div.first_team ul.team_players_list li.player img {
            float: right;
            height: 52px;
            width: 42px; }
          div.game_info div.game_teams_subpanel div.first_team ul.team_players_list li.player a.player_name {
            margin-right: 10px;
            text-decoration: none; }
    div.game_info div.game_teams_subpanel div.second_team {
      float: right;
      margin-right: 10px;
      width: 265px; }
      div.game_info div.game_teams_subpanel div.second_team img {
        float: right; }
      div.game_info div.game_teams_subpanel div.second_team h3 {
        margin-right: 60px;
        margin-bottom: 2px;
        margin-top: 5px;
        text-align: right;
        font-size: 20px; }
      div.game_info div.game_teams_subpanel div.second_team ul.team_players_list {
        margin-top: 2px;
        list-style: none;
        float: left;
        padding: 0px; }
        div.game_info div.game_teams_subpanel div.second_team ul.team_players_list li.player {
          height: 54px; }
          div.game_info div.game_teams_subpanel div.second_team ul.team_players_list li.player img {
            float: left;
            height: 52px;
            width: 42px; }
          div.game_info div.game_teams_subpanel div.second_team ul.team_players_list li.player a.player_name {
            margin-left: 5px;
            text-decoration: none; }
  div.game_info div#facebook_like_and_comments_subpanel {
    margin-top: 30px;
    width: 500px; }
  div.game_info div.first_team.winner_team {
    background-image: url("images/trophy.png");
    background-position: -25px 30px;
    background-repeat: no-repeat; }
  div.game_info div.second_team.winner_team {
    background-image: url("images/trophy.png");
    background-position: 160px 40px;
    background-repeat: no-repeat; }
  div.game_info div#winner_team_subpanel {
    width: 200px;
    text-align: center;
    margin-top: 15px;
    float: left;
    background-color: #2B5C84;
    border-radius: 7px;
    padding: 10px;
    color: white;
    margin-left: 10px; }
    div.game_info div#winner_team_subpanel p {
      font-size: 1.4em; }
  div.game_info div#winner_team_subpanel.team2_won {
    float: right;
    margin-right: 40px; }

div#game_result_panel h4 {
  text-align: center;
  margin-bottom: 0px; }
div#game_result_panel table#game_result_sets {
  padding: 0px;
  margin: auto auto;
  width: 80px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid;
  text-align: center; }
  div#game_result_panel table#game_result_sets tbody tr th {
    width: 100%;
    border-bottom: 1px solid; }
  div#game_result_panel table#game_result_sets td.win {
    border: 1px solid green; }
