h1 {
  color: #2B5C84;
  font-size: 2.8em;
  margin-top: 30px;
  text-align: center; }

div#show_games_or_results_links_panel {
  float: left;
  background-color: #2B5C84;
  border-radius: 7px 7px 7px 7px;
  font-size: 1.5em;
  height: 46px;
  margin-top: 13px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  text-color: white;
  padding: 3px; }
  div#show_games_or_results_links_panel div {
    background-color: #2B5C84;
    border-radius: 7px 7px 7px 7px;
    float: left;
    height: 35%;
    width: 49%;
    padding-top: 15px;
    padding-bottom: 15px; }
  div#show_games_or_results_links_panel div.show_results {
    float: right; }
  div#show_games_or_results_links_panel div:hover {
    background-color: #EBF1FD !important; }
  div#show_games_or_results_links_panel div.current {
    background-color: white !important;
    text-color: black; }

#games_catalogue {
  height: 1090px;
  background: none repeat scroll 0 0 white;
  border: 3px solid #C4CDE0;
  border-radius: 40px 0 0 0;
  margin: 4px; }
  #games_catalogue #filter_side_bar {
    border: 3px solid #C4CDE0;
    text-overflow: ellipsis;
    overflow-x: none;
    border-top: 3px;
    border-left: 0px;
    float: left;
    height: 700px;
    width: 140px; }
    #games_catalogue #filter_side_bar div.sidebar_location_filter {
      height: 200px;
      text-overflow: ellipsis;
      overflow-x: none; }
      #games_catalogue #filter_side_bar div.sidebar_location_filter li#root_country {
        padding-right: 100px; }
    #games_catalogue #filter_side_bar div.sidebar_date_filter {
      height: 200px;
      padding-right: 100px; }
      #games_catalogue #filter_side_bar div.sidebar_date_filter input {
        float: right; }
      #games_catalogue #filter_side_bar div.sidebar_date_filter ul#date_sidebar_filters_list {
        padding-left: 20px;
        list-style: none;
        text-decoration: none !important; }
        #games_catalogue #filter_side_bar div.sidebar_date_filter ul#date_sidebar_filters_list li div {
          width: 100%; }
  #games_catalogue div#catalogue_items_list_container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-left: 142px; }
    #games_catalogue div#catalogue_items_list_container div#games_table_wrapper #games_table_processing {
      display: none; }
    #games_catalogue div#catalogue_items_list_container table#games_table {
      width: 743px !important; }
      #games_catalogue div#catalogue_items_list_container table#games_table thead th {
        background-color: #C4CDE0; }
      #games_catalogue div#catalogue_items_list_container table#games_table thead th:hover {
        background-color: #EBF1FD; }
      #games_catalogue div#catalogue_items_list_container table#games_table tr {
        cursor: pointer;
        background-color: #EBF1FD; }
      #games_catalogue div#catalogue_items_list_container table#games_table tr.even {
        background-color: white; }
      #games_catalogue div#catalogue_items_list_container table#games_table tr:hover td {
        background-color: #C4CDE0; }
      #games_catalogue div#catalogue_items_list_container table#games_table tr.selected td {
        background-color: #C4CDE0 !important; }
      #games_catalogue div#catalogue_items_list_container table#games_table td.game_info, #games_catalogue div#catalogue_items_list_container table#games_table td.game_info:hover {
        width: 100%;
        background-color: white;
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        cursor: default; }
    #games_catalogue div#catalogue_items_list_container td.center {
      text-align: center; }
