form#new_customer {
  width: 800px;
  height: 600px; }
  form#new_customer div#map {
    height: 400px;
    width: 400px;
    float: right;
    margin: 10px;
    border: 1px solid;
    border-radius: 7px 7px 7px 7px;
    border-color: red; }
  form#new_customer div#message_box_panel {
    box: 400px;
    box: 400px; }
