div#player_session_panel {
  padding: 3px;
  width: 100%;
  float: right;
  border: 2px solid #2B5C84; }
  div#player_session_panel ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none; }
  div#player_session_panel div.login_button_subpanel a {
    margin-left: 20px; }
    div#player_session_panel div.login_button_subpanel a img {
      height: 35px; }
  div#player_session_panel div#player_session_info img {
    float: left;
    height: 45px;
    margin: 5px; }
  div#player_session_panel div#player_session_info fieldset {
    margin-top: 1px;
    margin-left: 5px; }
  div#player_session_panel div#player_session_menu ul {
    padding-left: 4px;
    margin-top: 10px; }
  div#player_session_panel div#player_session_menu li {
    width: 31%;
    font-size: 1.1em;
    text-align: center;
    background-color: white;
    float: left;
    border: 2px solid #C4CDE0; }
    div#player_session_panel div#player_session_menu li a {
      text-decoration: none; }
  div#player_session_panel div#player_login_panel h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px; }
  div#player_session_panel div#player_login_panel label {
    float: left;
    width: 60px;
    text-align: right; }
  div#player_session_panel div#player_login_panel input {
    width: 90px;
    margin-left: 5px; }
  div#player_session_panel div#player_login_panel a.signup_link {
    margin-left: 20px;
    margin-right: 10px;
    float: right; }
  div#player_session_panel div#player_login_panel input[type='submit'] {
    width: 45px;
    height: 40px;
    padding: 0 0 0 0;
    margin-right: 4px;
    float: right; }
  div#player_session_panel div#player_login_panel div.login_button_subpanel {
    height: 20px;
    width: 200px;
    margin-left: 10px;
    margin-right: 31%;
    margin-top: 5px; }
    div#player_session_panel div#player_login_panel div.login_button_subpanel img {
      float: left;
      height: 20px;
      margin-right: 5px; }
  div#player_session_panel .with_notifications {
    background-color: red;
    color: white; }
