div#player_session_panel {
  padding: 3px;
  width: 220px;
  float: right; }
  div#player_session_panel ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none; }
  div#player_session_panel div.login_button_subpanel a {
    margin-left: 20px; }
    div#player_session_panel div.login_button_subpanel a img {
      height: 35px; }
  div#player_session_panel div#player_session_info img {
    float: left; }
  div#player_session_panel div#player_session_info fieldset {
    margin-top: 1px; }
  div#player_session_panel div#player_session_menu {
    height: 20px; }
    div#player_session_panel div#player_session_menu ul {
      padding-left: 4px; }
    div#player_session_panel div#player_session_menu li {
      width: 31%;
      font-size: 1.1em;
      text-align: center;
      background-color: white;
      float: left;
      border: 2px solid #CCCCCC; }
      div#player_session_panel div#player_session_menu li a {
        text-decoration: none; }
  div#player_session_panel div#player_login_panel h3 {
    text-align: center; }
  div#player_session_panel div#player_login_panel div.login_button_subpanel {
    margin-left: 31%;
    margin-right: 31%; }
  div#player_session_panel .with_notifications {
    background-color: red;
    color: white; }
