div.team_panel {
  padding: 5px;
  overflow: hidden;
  background-color: #EBEBEB;
  border-radius: 7px 7px 7px 7px; }
  div.team_panel div.team_photo {
    float: left; }
    div.team_panel div.team_photo img {
      width: 40px; }
  div.team_panel div.team_info {
    margin-left: 46px;
    height: 60px; }
    div.team_panel div.team_info h4 {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 20px;
      font-size: 18px;
      text-decoration: none; }
    div.team_panel div.team_info ul.team_players {
      list-style: none;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 0px; }
      div.team_panel div.team_info ul.team_players li.player {
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 10px; }
        div.team_panel div.team_info ul.team_players li.player img {
          margin-left: 4px;
          margin-right: 4px;
          height: 30px;
          width: 30px; }
      div.team_panel div.team_info ul.team_players li[name='player1'] img {
        float: right; }
      div.team_panel div.team_info ul.team_players li[name='player1'] a {
        margin-right: 31px;
        text-align: right; }
      div.team_panel div.team_info ul.team_players li[name='player2'] img {
        float: left; }
      div.team_panel div.team_info ul.team_players li[name='player2'] a {
        margin-left: 31px;
        margin-top: 3px;
        text-align: left; }
