div.team_panel {
  padding: 5px;
  overflow: hidden;
  background-color: #EBEBEB;
  width: 260px;
  border-radius: 7px 7px 7px 7px; }
  div.team_panel div.left_subpanel {
    float: left;
    width: 45px; }
    div.team_panel div.left_subpanel div.team_photo img {
      width: 40px; }
  div.team_panel div.team_info {
    margin-left: 46px; }
    div.team_panel div.team_info h4 {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 10px;
      font-size: 18px;
      height: 25px; }
      div.team_panel div.team_info h4 a {
        text-decoration: none; }
    div.team_panel div.team_info ul.team_players {
      display: block;
      list-style: none;
      margin-top: 5px;
      padding: 0px; }
      div.team_panel div.team_info ul.team_players li.player {
        height: 46%;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 1px; }
        div.team_panel div.team_info ul.team_players li.player img {
          margin-left: 4px;
          margin-right: 4px;
          height: 30px;
          width: 30px; }
      div.team_panel div.team_info ul.team_players li[name='player1'] img {
        float: right; }
      div.team_panel div.team_info ul.team_players li[name='player1'] a {
        text-align: right; }
      div.team_panel div.team_info ul.team_players li[name='player2'] img {
        float: left; }
      div.team_panel div.team_info ul.team_players li[name='player2'] a {
        margin-top: 1px;
        padding-top: 10px;
        text-align: left; }
