div.team_show {
  margin-top: 10px;
  border: 1px solid;
  border-radius: 7px 7px 7px 7px; }
  div.team_show div.team_info_upper_subpanel div.team_info_subpanel img {
    width: 50px;
    height: 70px;
    float: left;
    margin-left: 10px;
    margin-right: 10px; }
  div.team_show div.team_info_upper_subpanel div.team_info_subpanel h2 {
    margin-left: 51px; }
  div.team_show div.team_info_upper_subpanel div.team_info_subpanel ul#team_stats {
    list-style: none; }
  div.team_show div.team_info_upper_subpanel fieldset {
    float: right;
    width: 60%; }
  div.team_show fieldset ul.team_players {
    list-style: none;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-left: 5px; }
    div.team_show fieldset ul.team_players li {
      float: left;
      width: 49%; }
