<div style="float:left">
  <h3>Games</h3>
  <ul>
    <li>Day: <%=@numDay%></li>
    <li>Week: <%=@numWeek%></li>
    <li>Month: <%=@numMonth%></li>
  </ul>
</div>

<div style="float:right">
  <h3>Promedio</h3>
  <ul>
    <li>
      <span>1 Month</span>
      <span>3 Month</span>
      <span>1 Year</span>
    </li>
    <li>
      <span>4</span>
      <span>4</span>
      <span>4</span>
    </li>
    <li>
      <span>5</span>
      <span>6</span>
      <span>6</span>
    </li>
    <li>
      <span>1</span>
      <span>3</span>
      <span>4</span>
    </li>
  </ul>
</div>

<div>
  <h3>Uso Pistas</h3>
  <ul>
    <li>Pista 1</li>
    <li>Pista 2</li>
  </ul>
</div>