<div id="player_session_panel" class="fields_container_panel">

  <div id="player_login_panel" class="fields_container_panel">

    <h3>Log In with Facebook</h3>
    <div class="login_button_subpanel">
      <%#*<fb:login-button perms="rsvp_event,email,create_event"%>
                       <%#*show-faces="false" width="200" max-rows="1"></fb:login-button>%>
      <%=  link_to image_tag("facebook_button.png"), player_omniauth_authorize_path(:facebook) %>
    </div>
  </div>
</div>
