<div id="player_session_panel" class="fields_container_panel">

  <div id="player_login_panel" class="fields_container_panel">

    <h3>Login with Facebook</h3>
    <div class="login_button_subpanel">
      <fb:login-button perms="rsvp_event,email,create_event"
                       show-faces="false" width="200" max-rows="1"></fb:login-button>
    </div>
  </div>
</div>
