<h1>Confirm action</h1>

<%  %>

<p>Are you sure you want to <%= confirmation_message(@confirmation)%>?</p>

<%= confirm_confirmation_button(@confirmation)%>
<br></br>
<%= cancel_confirmation_button(@confirmation)%>

