<fieldset class="large_achievements_panel">
  <legend>Emblemas</legend>
    <% achievements_table = grouped_achievements(statable.achievements)%>
  <table class="achievements_group_table basic_achievements">
    <tr name="victory_strikes">
      <td><%= get_achievement_image_with_count("striked", achievements_table)%></td>
      <td><%= get_achievement_image_with_count("hot", achievements_table)%></td>
    </tr>
    <tr name="defeat_strikes">
      <td><%= get_achievement_image_with_count("buzzed", achievements_table)%></td>
      <td><%= get_achievement_image_with_count("cold", achievements_table)%></td>
    </tr>

  </table>
</fieldset>